.settingView
  height: 500px
  p
    color: rgba(0, 0, 0, 0.87)
    font-size: 1rem
  .setting
    display: flex
    align-items: center
    &.bgColor
      color: rgba(0, 0, 0, 0.87)
      margin-left: 1rem
      p
        margin-right: 1rem
    .colorPickerModel
      // position: relative
      width: 20px
      height: 20px
      border: 2px solid #575757
      cursor: pointer
      border-radius: .3rem
      // display: inline-block
      // margin-bottom: 0
