.paintTool
  position: relative
  .toolBox
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    background: rgba(#fff, 0.8)
    padding: .5rem 0
    border-radius: 1rem
    margin: 1rem
    display: flex
    flex-direction: column
    .use
      color: #fff
      background: #0B57D0
      box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 5px
    .tool
      margin: .5rem 0
      position: relative
    .toolBtn
      display: flex
      width: 100%
      color: #000
      font-weight: bold
      &.useCreate
        color: #0B57D0
    .btnText
      margin: .5rem 0
      margin-left: .5rem
      font-size: 14px
  .chooseColor
    border: 1px solid transparent
  .colorPicker
    left: 70px
    top: -172px
    position: absolute
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
  .fontSizePicker
    position: absolute
    top: -50px
    left: 70px
    width: 300px
    background-color: rgba(#fff, 0.8)
    padding: 1rem 1.2rem
    border-radius: 1rem
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
    display: flex
    justify-content: center
    align-items: center
    .fontSize
      margin-left: 1rem
  .input
    padding: 1rem
    background: transparent
    border: none
    border-bottom: 1px solid #fff
    position: fixed
    z-index: 100
    max-width: 900px
    font-family: Arial
    display: none
